.left-side{
display: block;
  padding: 20px;
  margin: 0 auto;
  // background-color: #0b0d17;;
text-align: center;
margin-top: 40px;
margin-bottom: 20px;
gap: 1;

    h1{
      font-size: 40px;
      color: aliceblue;
      text-align: center;
      text-transform: uppercase;
      text-shadow:
        1px 1px 0px rgba(247, 246, 246, 0.4), /* เงาที่คมชัดชั้นแรก */
        2px 2px 3px rgba(0, 0, 0, 0.6),      /* เงาดำหลักเพื่อสร้างมิติ */
        4px 4px 8px rgba(247, 246, 246, 0.2);  /* เงาจางชั้นนอกสุด */
        }

    li a i {
            font-size: 50px;
            color: rgb(149, 145, 255);
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin: 20px;

    }
}
